/* Regal SASS Framework | Author Name : Rahul Rao | Author Url : rahulrao.in */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
*:focus { outline: 0; }

.container { width: 97%; margin-left: auto; margin-right: auto; }
@media only screen and (min-width: 33.75em) { .container { width: 95%; } }
@media only screen and (min-width: 64em) { .container { width: 85%; } }

.row, .fullCon { width: 100%; }

.row [class^="g-"]:not([class*="m_"]) { margin: 0.625rem 1%; }

.f-N { float: none; }

.f-L { float: left; }

.f-R { float: right; }

.row [class^="g-"]:not(.f-R):not(.f-N) { float: left; }

.row, .clear { position: relative; }
.row:after, .row:before, .clear:after, .clear:before { content: ""; display: table; clear: both; }

.g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12 { width: 98%; }

.g-1-s { width: 6.3333333333%; }

.g-2-s { width: 14.6666666667%; }

.g-3-s { width: 23%; }

.g-4-s { width: 31.3333333333%; }

.g-5-s { width: 39.6666666667%; }

.g-6-s { width: 48%; }

.g-7-s { width: 56.3333333333%; }

.g-8-s { width: 64.6666666667%; }

.g-9-s { width: 73%; }

.g-10-s { width: 81.3333333333%; }

.g-11-s { width: 89.6666666667%; }

.g-12-s { width: 98%; }

html body .hide-s, html .hide, html .cBox input[type="radio"], .cBox html input[type="radio"], html .rBox input[type="radio"], .rBox html input[type="radio"], html .cBox input[type="checkbox"], .cBox html input[type="checkbox"], html .rBox input[type="checkbox"], .rBox html input[type="checkbox"] { display: none; }
html .hide-m, html .hide-l { display: block; }
@media only screen and (min-width: 45em) and (max-width: 64em) { html .g-1-m { width: 6.3333333333%; }
  html .g-2-m { width: 14.6666666667%; }
  html .g-3-m { width: 23%; }
  html .g-4-m { width: 31.3333333333%; }
  html .g-5-m { width: 39.6666666667%; }
  html .g-6-m { width: 48%; }
  html .g-7-m { width: 56.3333333333%; }
  html .g-8-m { width: 64.6666666667%; }
  html .g-9-m { width: 73%; }
  html .g-10-m { width: 81.3333333333%; }
  html .g-11-m { width: 89.6666666667%; }
  html .g-12-m { width: 98%; }
  html body .hide-s { display: block; }
  html body .hide-m { display: none; } }

@media only screen and (min-width: 45em) { .g-1 { width: 6.3333333333%; }
  .g-2 { width: 14.6666666667%; }
  .g-3 { width: 23%; }
  .g-4 { width: 31.3333333333%; }
  .g-5 { width: 39.6666666667%; }
  .g-6 { width: 48%; }
  .g-7 { width: 56.3333333333%; }
  .g-8 { width: 64.6666666667%; }
  .g-9 { width: 73%; }
  .g-10 { width: 81.3333333333%; }
  .g-11 { width: 89.6666666667%; }
  .g-12 { width: 98%; }
  html .hide-s, html .hide-m { display: block; }
  html body .hide-l { display: none; } }
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* px to rem mixin */
/* eo px to rem mixin */
:root { font-size: 16px; }
@media only screen and (max-width: 33.75em) { :root { font-size: 12px; } }
@media only screen and (max-width: 64em) { :root { font-size: 14px; } }

html, body { height: 100%; width: 100%; font-family: "Lato", Helvetica, sans-serif; line-height: 1.4; }

.fw-3 { font-weight: 300; }

.fw-4 { font-weight: 400; }

.fw-5 { font-weight: 500; }

.fw-6, b { font-weight: 600; }

.fw-7 { font-weight: 700; }

.fs-32, h1 { font-size: 2.2857142857rem; }

.fs-30 { font-size: 2.1428571429rem; }

.fs-28 { font-size: 2rem; }

.fs-26, h2 { font-size: 1.8571428571rem; }

.fs-24, h3 { font-size: 1.7142857143rem; }

.fs-22 { font-size: 1.5714285714rem; }

.fs-20, h4 { font-size: 1.4285714286rem; }

.fs-18, h5 { font-size: 1.2857142857rem; }

.fs-16 { font-size: 1.1428571429rem; }

.fs-14 { font-size: 1rem; }

.fs-12, h6 { font-size: 0.8571428571rem; }

.fs-10 { font-size: 0.7142857143rem; }

.uCase { text-transform: uppercase; }

.camCase { text-transform: capitalize; }

.lCase { text-transform: lowercase; }

/* px to rem mixin */
/* eo px to rem mixin */
.hand, .btn:not(.flat) { cursor: pointer; }

.bdr:not(.bdr0):not(input) { border: 1px solid #e1e1e1; }

.bdr.error { border: 1px solid #f44336; }

.bdr-B { border-width: 0 0 1px 0; border-color: #e1e1e1; border-style: solid; }

.bdr0, input { border: 0; }

.bR3, .card, .btn:not(.flat) { border-radius: 3px; }

body .m_0 { margin: 0; }
body .m_10 { margin: 0.7142857143rem; }
body .m_tb_10 { margin: 0.625rem 0; }
body .m_A { margin: 0 auto; }
body .p_0 { padding: 0; }
body .p_tb_10 { padding: 0.625rem 0; }
body .p_10 { padding: 0.625rem; }

._z9 { z-index: 9; }

._z99 { z-index: 99; }

._z999 { z-index: 999; }

.-z1, .card { -webkit-box-shadow: 0 2px 0.2rem rgba(0, 0, 0, 0.25); -ms-box-shadow: 0 2px 0.2rem rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 2px 0.2rem rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0.2rem rgba(0, 0, 0, 0.25); }

.-z2 { -webkit-box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.28); -ms-box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.28); -moz-box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.28); box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.28); }

.-z3, .btn:not(.flat):hover { -webkit-box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.38); -ms-box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.38); -moz-box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.38); box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.38); }

.-Yscroll-area { max-height: 3rem; overflow-y: auto; }

.mH10 { min-height: 0.625rem; }

.p-S { position: static; }

.p-R, input:focus + .uLine, .cBox label, .rBox label { position: relative; }

.p-F { position: fixed; }

.p-A, input:focus + .uLine:after, .-tabs label.active:after, .-tabs label:hover:after, .-bar.active:after, .-bar:hover:after, .-accordian label:after, .cBox input[type="radio"]:checked + label:after, .rBox input[type="radio"]:checked + label:after, .cBox input[type="checkbox"]:checked + label:after, .rBox input[type="checkbox"]:checked + label:after { position: absolute; }

.p-I { position: inherit; }

._oT { top: 0; }

._oR { right: 0; }

._oL, input:focus + .uLine:after, .-tabs label.active:after, .-tabs label:hover:after, .-bar.active:after, .-bar:hover:after { left: 0; }

._oB, input:focus + .uLine:after, .-tabs label.active:after, .-tabs label:hover:after, .-bar.active:after, .-bar:hover:after { bottom: 0; }

._L { text-align: left; }

._R { text-align: right; }

._C { text-align: center; }

._J { text-align: justify; }

.bg-f { background-color: #fff; }

.bg-0 { background-color: #000; }

.bg-b, body { background-color: #e1e1e1; }

.bg-p, .btn.--p { background-color: #9c27b0; }

.bg-s, .btn.--s { background-color: #f50057; }

.bg-t, .btn.--t { background-color: #263238; }

.bg-red, .btn.error { background-color: #f44336; }

.bg-grn, .btn.ok { background-color: #00c853; }

.bg-info, .btn.info { background-color: #f57c00; }

.clr-p { color: #9c27b0; }

.clr-s, .-tabs label:not(.active):not(.clr-p):not(:hover), .-bar:not(.active):not(.clr-p):not(:hover) { color: #f50057; }

.clr-t, body { color: #263238; }

.clr-b { color: #e1e1e1; }

.clr-f, .btn.ok, .btn.error, .btn.info, .btn.--p, .btn.--s, .btn.--t { color: #fff; }

.clr-0 { color: #000; }

.clr-red { color: #f44336; }

.clr-grn { color: #00c853; }

.clr-info { color: #f57c00; }

.dB, input:focus + .uLine { display: block; }

.dIB, .vMid > ._lineIn, .cBox input[type="radio"] + label:before, .rBox input[type="radio"] + label:before, .cBox input[type="checkbox"] + label:before, .rBox input[type="checkbox"] + label:before { display: inline-block; }

.dI { display: inline; }

.dF { display: flex; }

.dIF { display: inline-flex; }

.-table { display: table; }

.-tr { display: table-row; }

.-th, .hide-tbl-thead-s { display: table-header-group; }

.-tfoot { display: table-header-group; }

.-tbody { display: table-row-group; }

.-td { display: table-cell; vertical-align: middle; }

.-vTop { vertical-align: top; }

.vMid > ._lineIn { vertical-align: middle; }

.view { visibility: visible; }

.noView { visibility: hidden; }

.flowHide { overflow: hidden; }

/* px to rem mixin */
/* eo px to rem mixin */
button.gradBtn, button.btn.prime { background-image: -webkit-linear-gradient(45deg, #f60, #f99d31); background-image: -moz-linear-gradient(45deg, #f60, #f99d31); background-image: -o-linear-gradient(45deg, #f60, #f99d31); background-image: -ms-linear-gradient(45deg, #f60, #f99d31); background-image: linear-gradient(45deg, #f60, #f99d31); border-radius: 4px; }
button.gradBtn:hover, button.btn.prime:hover { background-image: -webkit-linear-gradient(-45deg, #f60, #f99d31); background-image: -moz-linear-gradient(-45deg, #f60, #f99d31); background-image: -o-linear-gradient(-45deg, #f60, #f99d31); background-image: -ms-linear-gradient(-45deg, #f60, #f99d31); background-image: linear-gradient(-45deg, #f60, #f99d31); }

.btn:not(.flat) { -webkit-box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.2); box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.2); transition: all 0.1s; }

input:focus + .uLine:after { content: ""; width: 99%; padding: 1px; background-color: #f50057; }

.-tabs label.active:after, .-tabs label:hover:after, .-bar.active:after, .-bar:hover:after, .-accordian label:after { content: ""; }

.-tabs + .-tabContent input[type="radio"]:checked + *, input[type="checkbox"].z-pop:checked + .popUP, .-accordian input[type="radio"]:checked + *, .-accordian input[type="checkbox"]:checked + * { display: block; }

.-tabs label.active:after, .-tabs label:hover:after, .-bar.active:after, .-bar:hover:after { width: 100%; border: 0.1rem solid #f57c00; }

.-accordian label:after { border: 1px solid; border-color: transparent #263238 #263238 transparent; padding: 5px; right: 0.5rem; top: 1rem; transform: rotate(45deg); }

.popUP { height: 100%; background-color: rgba(0, 0, 0, 0.85); }
.popUP .popCon { top: 10vh; min-height: 4rem; }
.popUP .popCon .--x { top: -0.7rem; }

.cBox input[type="radio"] + label:before, .rBox input[type="radio"] + label:before, .cBox input[type="checkbox"] + label:before, .rBox input[type="checkbox"] + label:before, .cBox input[type="radio"]:checked + label:after, .rBox input[type="radio"]:checked + label:after, .cBox input[type="checkbox"]:checked + label:after, .rBox input[type="checkbox"]:checked + label:after { content: ""; border-radius: 10px; }

.cBox input[type="radio"] + label:before, .rBox input[type="radio"] + label:before, .cBox input[type="checkbox"] + label:before, .rBox input[type="checkbox"] + label:before { border: 1px solid #263238; padding: 8px; vertical-align: top; margin-right: 13px; }

.cBox input[type="radio"]:checked + label:after, .rBox input[type="radio"]:checked + label:after { background-color: #f50057; padding: 5px; left: 4px; top: 2px; }
@media screen and (max-width: 45em) { .cBox input[type="radio"]:checked + label:after, .rBox input[type="radio"]:checked + label:after { top: 3px; } }
.cBox input[type="checkbox"] + label:before, .rBox input[type="checkbox"] + label:before { border-radius: 0; }
.cBox input[type="checkbox"]:checked + label:after, .rBox input[type="checkbox"]:checked + label:after { transform: rotateZ(-45deg); width: 14px; height: 4px; border: 2px solid; border-color: transparent transparent #f50057 #f50057; left: 4px; top: -1px; }
