/* Regal SASS Framework | Author Name : Rahul Rao | Author Url : rahulrao.in */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
*:focus { outline: 0; }

.container { width: 97%; margin-left: auto; margin-right: auto; }
@media only screen and (min-width: 33.75em) { .container { width: 95%; } }
@media only screen and (min-width: 64em) { .container { width: 85%; } }

.row, .fullCon { width: 100%; }

.row [class^="g-"]:not([class*="m_"]) { margin: 0.625rem 1%; }

.f-N { float: none; }

.f-L { float: left; }

.f-R { float: right; }

.row [class^="g-"]:not(.f-R):not(.f-N) { float: left; }

.row, .clear { position: relative; }
.row:after, .row:before, .clear:after, .clear:before { content: ""; display: table; clear: both; }

.g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12 { width: 98%; }

.g-1-s { width: 6.3333333333%; }

.g-2-s { width: 14.6666666667%; }

.g-3-s { width: 23%; }

.g-4-s { width: 31.3333333333%; }

.g-5-s { width: 39.6666666667%; }

.g-6-s { width: 48%; }

.g-7-s { width: 56.3333333333%; }

.g-8-s { width: 64.6666666667%; }

.g-9-s { width: 73%; }

.g-10-s { width: 81.3333333333%; }

.g-11-s { width: 89.6666666667%; }

.g-12-s { width: 98%; }

html body .hide-s, html .hide { display: none; }
html .hide-m, html .hide-l { display: block; }
@media only screen and (min-width: 45em) and (max-width: 64em) { html .g-1-m { width: 6.3333333333%; }
  html .g-2-m { width: 14.6666666667%; }
  html .g-3-m { width: 23%; }
  html .g-4-m { width: 31.3333333333%; }
  html .g-5-m { width: 39.6666666667%; }
  html .g-6-m { width: 48%; }
  html .g-7-m { width: 56.3333333333%; }
  html .g-8-m { width: 64.6666666667%; }
  html .g-9-m { width: 73%; }
  html .g-10-m { width: 81.3333333333%; }
  html .g-11-m { width: 89.6666666667%; }
  html .g-12-m { width: 98%; }
  html body .hide-s { display: block; }
  html body .hide-m { display: none; } }

@media only screen and (min-width: 45em) { .g-1 { width: 6.3333333333%; }
  .g-2 { width: 14.6666666667%; }
  .g-3 { width: 23%; }
  .g-4 { width: 31.3333333333%; }
  .g-5 { width: 39.6666666667%; }
  .g-6 { width: 48%; }
  .g-7 { width: 56.3333333333%; }
  .g-8 { width: 64.6666666667%; }
  .g-9 { width: 73%; }
  .g-10 { width: 81.3333333333%; }
  .g-11 { width: 89.6666666667%; }
  .g-12 { width: 98%; }
  html .hide-s, html .hide-m { display: block; }
  html body .hide-l { display: none; } }
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }
