/* Regal SASS Framework | Author Name : Rahul Rao | Author Url : rahulrao.in */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
*:focus { outline: 0; }

.container { width: 97%; margin-left: auto; margin-right: auto; }
@media only screen and (min-width: 33.75em) { .container { width: 95%; } }
@media only screen and (min-width: 64em) { .container { width: 85%; } }

.row, .fullCon { width: 100%; }

.row [class^="g-"]:not(.m0) { margin: 0.5rem 1%; }

.f-N { float: none; }

.f-L { float: left; }

.f-R { float: right; }

.row [class^="g-"]:not(.f-R):not(.f-N) { float: left; }

.row:after, .row:before, .clear:after, .clear:before { content: ""; display: table; clear: both; }

.g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12 { width: 98%; }

.g-1-s { width: 6.3333333333%; }

.g-2-s { width: 14.6666666667%; }

.g-3-s { width: 23%; }

.g-4-s { width: 31.3333333333%; }

.g-5-s { width: 39.6666666667%; }

.g-6-s { width: 48%; }

.g-7-s { width: 56.3333333333%; }

.g-8-s { width: 64.6666666667%; }

.g-9-s { width: 73%; }

.g-10-s { width: 81.3333333333%; }

.g-11-s { width: 89.6666666667%; }

.g-12-s { width: 98%; }

html body .hide-s { display: none; }
html .hide-m, html .hide-l { display: block; }
@media only screen and (min-width: 45em) and (max-width: 64em) { html .g-1-m { width: 6.3333333333%; }
  html .g-2-m { width: 14.6666666667%; }
  html .g-3-m { width: 23%; }
  html .g-4-m { width: 31.3333333333%; }
  html .g-5-m { width: 39.6666666667%; }
  html .g-6-m { width: 48%; }
  html .g-7-m { width: 56.3333333333%; }
  html .g-8-m { width: 64.6666666667%; }
  html .g-9-m { width: 73%; }
  html .g-10-m { width: 81.3333333333%; }
  html .g-11-m { width: 89.6666666667%; }
  html .g-12-m { width: 98%; }
  html body .hide-s { display: block; }
  html body .hide-m { display: none; } }

@media only screen and (min-width: 45em) { .g-1 { width: 6.3333333333%; }
  .g-2 { width: 14.6666666667%; }
  .g-3 { width: 23%; }
  .g-4 { width: 31.3333333333%; }
  .g-5 { width: 39.6666666667%; }
  .g-6 { width: 48%; }
  .g-7 { width: 56.3333333333%; }
  .g-8 { width: 64.6666666667%; }
  .g-9 { width: 73%; }
  .g-10 { width: 81.3333333333%; }
  .g-11 { width: 89.6666666667%; }
  .g-12 { width: 98%; }
  html .hide-s, html .hide-m { display: block; }
  html .hide, html .hide-l { display: none; } }
/* px to rem mixin */
/* eo px to rem mixin */
:root { font-size: 16px; }
@media only screen and (max-width: 33.75em) { :root { font-size: 12px; } }
@media only screen and (max-width: 64em) { :root { font-size: 14px; } }

html, body { height: 100%; width: 100%; font-family: "Lato", Helvetica, sans-serif; line-height: 1.4; }

.fw-3 { font-weight: 300; }

.fw-4 { font-weight: 400; }

.fw-5 { font-weight: 500; }

.fw-6 { font-weight: 600; }

.fw-7 { font-weight: 700; }

.fs-32, h1 { font-size: 2.2857142857rem; }

.fs-30 { font-size: 2.1428571429rem; }

.fs-28 { font-size: 2rem; }

.fs-26, h2 { font-size: 1.8571428571rem; }

.fs-24, h3 { font-size: 1.7142857143rem; }

.fs-22 { font-size: 1.5714285714rem; }

.fs-20, h4 { font-size: 1.4285714286rem; }

.fs-18, h5 { font-size: 1.2857142857rem; }

.fs-16 { font-size: 1.1428571429rem; }

.fs-14 { font-size: 1rem; }

.fs-12, h6 { font-size: 0.8571428571rem; }

.fs-10 { font-size: 0.7142857143rem; }

.uCase { text-transform: uppercase; }

.camCase { text-transform: capitalize; }

.lCase { text-transform: lowercase; }

/* px to rem mixin */
/* eo px to rem mixin */
.hand { cursor: pointer; }

.bdr:not(.bdr0) { border: 1px solid #e1e1e1; }

.bdr.error { border: 1px solid #d6140b; }

.bdr-B { border-width: 0 0 1px 0; border-color: #e1e1e1; border-style: solid; }

.bdr0 { border: 0; }

.bR3, .card { border-radius: 3px; }

body .m0 { margin: 0; }
body .m10 { margin: 0.7142857143rem; }
body .mTB10 { margin: 0.625rem 0; }
body .p0 { padding: 0; }
body .pTB10 { padding: 0.625rem 0; }
body .pd10 { padding: 0.625rem; }
body .pd5 { padding: 0.3125rem; }

._z9 { z-index: 9; }

._z99 { z-index: 99; }

._z999 { z-index: 999; }

.-z1, .card { -webkit-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.28); -ms-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.28); -moz-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.28); box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.28); }

.-z2 { -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); -ms-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); }

.-z3, btn.-z1:hover, btn.card:hover { -webkit-box-shadow: 0 4px 0.7rem rgba(0, 0, 0, 0.3); -ms-box-shadow: 0 4px 0.7rem rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 4px 0.7rem rgba(0, 0, 0, 0.3); box-shadow: 0 4px 0.7rem rgba(0, 0, 0, 0.3); }

btn.-z1, btn.card { -webkit-box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.2); box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.2); transition: all 0.1s; }

.-Yscroll-area { max-height: 3rem; overflow-y: auto; }

.mH10 { min-height: 0.625rem; }

.p-S { position: static; }

.p-R { position: relative; }

.p-F { position: fixed; }

.p-A, .oCheck input[type="radio"]:checked + label:after { position: absolute; }

.p-I { position: inherit; }

._oT { top: 0; }

._oR { right: 0; }

._oL { left: 0; }

._oB { bottom: 0; }

._L { text-align: left; }

._R { text-align: right; }

._C { text-align: center; }

._J { text-align: justify; }

body { color: #434343; background-color: #f3f5f7; }

.bg-f { background-color: #fff; }

.bg-0 { background-color: #000; }

.bg-Lgry { background-color: #f3f5f7; }

.bg-attr { background-color: attr(data-BgColor); }

.clr-p { color: #434343; }

.clr-p2 { color: #f3f5f7; }

.clr-s { color: #f3f5f7; }

.clr-f { color: #fff; }

.clr-0 { color: #000; }

.clr-red { color: red; }

.clr-grn { color: green; }

.clr-info { color: orange; }

.dB { display: block; }

.dIB, .vMid > ._lineIn, .oCheck input[type="radio"] + label:before { display: inline-block; }

.dI { display: inline; }

.dFB { display: flex-box; }

.-table { display: table; }

.-tr { display: table-row; }

.-thead, .hide-tbl-thead-s { display: table-header-group; }

.-tfoot { display: table-header-group; }

.-tbody { display: table-row-group; }

.-td { display: table-cell; vertical-align: middle; }

.vMid > ._lineIn { vertical-align: middle; }

.view { visibility: visible; }

.noView { visibility: hidden; }

.flowHide { overflow: hidden; }

/* px to rem mixin */
/* eo px to rem mixin */
button.gradBtn, button .gradBtn { background-image: -webkit-linear-gradient(45deg, #f60, #f99d31); background-image: -moz-linear-gradient(45deg, #f60, #f99d31); background-image: -o-linear-gradient(45deg, #f60, #f99d31); background-image: -ms-linear-gradient(45deg, #f60, #f99d31); background-image: linear-gradient(45deg, #f60, #f99d31); border-radius: 4px; }
button.gradBtn:hover, button .gradBtn:hover { background-image: -webkit-linear-gradient(-45deg, #f60, #f99d31); background-image: -moz-linear-gradient(-45deg, #f60, #f99d31); background-image: -o-linear-gradient(-45deg, #f60, #f99d31); background-image: -ms-linear-gradient(-45deg, #f60, #f99d31); background-image: linear-gradient(-45deg, #f60, #f99d31); }

.-tabs + .-tabContent input[type="radio"]:checked + *, .-accordian input[type="radio"]:checked + *, .-accordian input[type="checkbox"]:checked + * { display: block; }

.-tabs label:not(.active):not(.clr-p):not(:hover), .-Obar:not(.active):not(.clr-p):not(:hover) { color: #909090; }
.-tabs label.active:after, .-tabs label:hover:after, .-Obar.active:after, .-Obar:hover:after { content: ""; width: 30%; border: 0.1rem solid #FF8F00; position: absolute; bottom: -1rem; left: 0; }

.oCheck input[type="radio"] + label:before { content: ""; border: 1px solid #222; padding: 8px; border-radius: 10px; vertical-align: top; margin-right: 13px; }

.oCheck input[type="radio"]:checked + label:after { content: ""; background-color: #0059a7; padding: 5px; border-radius: 10px; left: 9px; top: 5px; }
@media screen and (min-width: 45em) and (max-width: 65em) { .oCheck input[type="radio"]:checked + label:after { left: 12px; top: 12px; } }
