/* REGAL SASS framework */

// REGAL GRID - SCSS

@import 'grid/_grid';

@import 'helpers/_font';
@import 'helpers/_utility';
@import 'helpers/_alignment';
@import 'helpers/_colors';
@import 'helpers/_display';
@import 'helpers/_form';



//custom resets

a , .clr-blu{ text-decoration: none; color:#1e88e5;}
:not(button) > a:hover {text-decoration: underline; cursor:pointer;}
ul:not(.disc) { list-style: none;}



//custom css
