// radio button style


%shared {  content: "";  border-radius: 10px;  }
%uncheck {
    @extend %shared;
    border: 1px solid $ternary;
    padding: 8px;
    @extend .dIB;
    vertical-align: top;
    margin-right: 13px; 
}

.cBox , .rBox { 
    label { @extend .p-R;}
    input[type="radio"] { // radio  buttons
    
    @extend .hide;
    
    & + label:before { @extend %uncheck; }
    
    &:checked + label:after {
    @extend %shared;
    background-color: $secondary;
    padding: 5px;
    @extend .p-A;
    left: 4px;
    top: 2px;
    transition: all 0.4s ease-out;
    
   @media screen and (max-width:45em){ top: 3px;}

    }
        
  }
    
       input[type="checkbox"] { // checkboxes
        
    @extend .hide;
    
    & + label:before { @extend %uncheck; border-radius: 0; }
    
    &:checked + label:after {
    @extend %shared;
    transform: rotateZ(-45deg);
    width: 14px;
    height: 4px;
    border: 2px solid;
    border-color: transparent transparent $secondary $secondary;
    @extend .p-A;
    left: 4px;
    top: -1px;

    }
        
  }
    
}

