// radio button style


%shared {  content: "";  border-radius: 10px;  }
%uncheck {
    @extend %shared;
    border: 1px solid $ternary;
    padding: 8px;
    @extend .dIB;
    @extend .-vTop;
    margin-right: 13px; 
}

.cBox , .rBox { 
    label { @extend .p-R;}
    input[type="radio"] { // radio  buttons
    
    @extend .hide;
    
    & + label:before { @extend %uncheck;}
    & + label:after {
        
        @extend %shared;
        @extend .p-A;
        @extend .easy;
        padding:0;
        left: 6px;
        top: 6px;
        }
    &:checked + label:after {
    
    background-color: $secondary;
    padding: 5px;
    left: 4px;
    top: 2px;
    
   @media screen and (max-width:45em){ top: 3px;}

    }
        
  }
    
  input[type="checkbox"] { // checkboxes
        
    @extend .hide;
    
    & + label:before { @extend %uncheck; border-radius: 0; }
    & + label:after {
        @extend %shared; 
        @extend .easy; 
        width:0;
        height: 4px;
        transform: rotateZ(120deg);
        }
    &:checked + label:after {
    transform: rotateZ(-45deg);
    width: 14px;
    border: 2px solid;
    border-color: transparent transparent $secondary $secondary;
    @extend .p-A;
    left: 4px;
    top: -1px;

    }
        
  }
    
}

