// radio button style


%shared {  content: "";  border-radius: 10px;  }
%uncheck {
    @extend %shared;
    @extend %bdr-t;
    padding: 8px;
    @extend .dIB;
    @extend .-vTop;
    margin-right: 13px; 
}

.cBox , .rBox { 
    label { @extend .p-R;}
    input[type="radio"] { // radio  buttons
    
    @extend .hide;
    
    & + label:before { @extend %uncheck; }
  
    &:checked + label:before {
    background: radial-gradient(circle, $secondary 38%, white 45%);

    }
        
  }
    
  input[type="checkbox"] { // checkboxes
        
    @extend .hide;
    
    & + label:before { @extend %uncheck; border-radius: 0; }
    & + label:after {
        @extend %shared; 
        @extend .easy; 
        width:0;
        height: 4px;
        transform: rotateZ(120deg);
        }
    &:checked + label:after {
    transform: rotateZ(-45deg);
    width: 14px;
    border: 2px solid;
    border-color: transparent transparent $secondary $secondary;
    @extend .p-A;
    left: 4px;
    }
        
  }
    
}

