.inpt{ @extend .p-R;
input {// input to be get styles
    @extend .bdr0;
    @extend ._z9;
    background: transparent;
    & ~ .uLine{
        @extend .p-R;
        @extend .dB;
        &:after {@extend %underline;  }
    }
    
    &:focus ~ .uLine:after {width:$_100; padding:1px;}
    
    & ~ label { @extend .p-A; z-index: 0; top:0.5rem; left:0.6rem; transition: all 0.2s ease-out;}
    &:focus ~ label , &:valid ~ label { @extend ._oL; top:-0.6rem; font-size:0.8rem; @extend .clr-s;}
}
}

%underline{
    content:"";
    @extend .p-A;
    @extend ._oB;
    @extend ._oL;
    width:0;
    background-color: $secondary;
    transition: all 0.2s ease-out;
}