.inpt{ @extend .p-R;
    
input {// input to be get styles
    @extend .bdr0;
    @extend ._z9;
    @extend .p-R;
    background: transparent;
    & ~ .uLine{
        @extend .p-R;
        @extend .dB;
        &:after {@extend %underline;  }
    }
    
    &:focus ~ .uLine:after {width:$_100; padding:1px;}
    
    & ~ label { @extend .p-A; z-index: 0; top:0.5rem; left:0.6rem; @extend .easy;}
    &:focus ~ label , &:valid ~ label { @extend .bg-f; top:-0.6rem;
        @extend .fs-12; @extend .clr-s; padding: 0 0.3rem; @extend ._z9;}
}
    &.arwDwn {
        &:after {
            right:0.6rem;
            top:0.6rem;
            border-color:transparent $ternary $ternary transparent;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance:none;
    }
}

%underline{
    content:"";
    @extend .p-A;
    @extend ._oB;
    @extend ._oL;
    width:0;
    @extend .bg-s;
    @extend .easy;
}