@import '../grid/_global';
// A tab & accordian utility with scss

%pseudo { content:""; @extend .p-A; }
.-tabs + .-tabContent input[type="radio"]:checked + * ,
input[type="checkbox"].z-pop:checked + .popUP { display: block; }
.-tabs label , .-bar{
    &:not(.active):not(.clr-p):not(:hover){
        @extend .clr-s;
    }
    &.active:after , &:hover:after{
        width:$_100;
        border:0.1rem solid $info;
        @extend %pseudo;
        @extend ._oB;
        @extend ._oL;
    }
}



.-accordian {
    & > input {
        &:not(:checked) + label + .-accTxt { @extend .p_0; height: 0; @extend .flowHide;
            transition: all 0.2s ease-out; }
        & + label:after {
            @extend %pseudo ;
            border:1px solid;
            border-color:transparent  $ternary $ternary transparent;
            padding: 5px;
            right:0.5rem;
            top:1rem;
            transform: rotate(45deg);
            transition: all 0.2s ease-out;
            }
       
    }
    
     & > input[type="radio"]:checked + label , 
            input[type="checkbox"]:checked + label {
                & + .-accTxt { height: auto; overflow: auto; min-height: 3rem;  }
                &:after {transform: rotate(-135deg);}
            
        }
}

//popUp

.popUP {
    
    height:$_100;
    background-color: rgba(0,0,0,0.85);
    .popCon {
        .--x { top:-0.7rem;}
        top:10vh;
        min-height: 4rem;
    }
}

//tooltip

//[data-tip] {@extend .p-R; @extend .hand;
//&:hover:before {
  //  content: attr(data-tip);
   // @extend .p-A;
   // @extend .card;
   // @extend .clr-f;
   // @extend .bg-info;
   // bottom:2rem;
   // right:0;
    //font-size:0.8rem;
    //padding:0.5rem;
    //display: inline-table;
   // }
    
//}
