// A tab & accordian utility with scss

.-tabs + .-tabContent input[type="radio"]:checked + * ,
.-accordian input[type="radio"]:checked + * ,
.-accordian input[type="checkbox"]:checked + * { display: block;}
.-tabs label , .-Obar{
    &:not(.active):not(.clr-p):not(:hover){
        @extend .clr-s;
    }
    &.active:after , &:hover:after{
        content: "";
        width:30%;
        border:0.1rem solid $info;
        @extend .p-A;
        bottom:-1rem;
        @extend ._oL;
    }
}

