@mixin shadow ($v, $h, $blur, $color){
  -webkit-box-shadow: $v $h $blur $color;
     -ms-box-shadow: $v $h $blur $color;
     -moz-box-shadow: $v $h $blur $color;
    box-shadow: $v $h $blur $color;
}

/* px to rem mixin */

$baseFontSize : 14;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

/* eo px to rem mixin */

@mixin border-radius($t,$r,$b,$l){ border-radius:$t $r $b $l;}

@mixin pad($t,$r,$b,$l){ padding:$t $r $b $l ; }

@mixin mrgn($t,$r,$b,$l){ margin:$t $r $b $l ; }

@mixin bdr($t,$r,$b,$l,$color,$style){ border-width:$t $r $b $l; border-color:$color; border-style:$style; }

@mixin linearGrad ($deg , $color1 , $color2){
  background-image:  -webkit-linear-gradient($deg , $color1 , $color2);
  background-image:  -moz-linear-gradient($deg , $color1 , $color2);
  background-image:  -o-linear-gradient($deg , $color1 , $color2);
   background-image: -ms-linear-gradient($deg , $color1 , $color2);
   background-image: linear-gradient($deg , $color1 , $color2);
}


