@mixin shadow ($v, $h, $blur, $color){
  -webkit-box-shadow: $v $h $blur $color;
     -ms-box-shadow: $v $h $blur $color;
     -moz-box-shadow: $v $h $blur $color;
    box-shadow: $v $h $blur $color;
}

// px to rem mixin 

$baseFontSize : $size;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


@mixin bdr($t,$r,$b,$l,$color,$style){ 
    @if unitless($t) == unitless($r) == unitless($b) == unitless($l)== true {
        border: $t $style $color ;
    }
    @else{
    border-width:$t $r $b $l; border-color:$color; border-style:$style; 
    }
}

@mixin gradient($type, $direction, $colors ){
    
    @if $colors && $type && $direction !='' {
        
        @if $type == 'linear' {
          
            background-image: #{$type}-gradient($direction , unquote($colors));
            
        }
        
          @if $type == 'radial' {
              
              background-image: #{$type}-gradient(circle , unquote($colors));
            
        }
  }
  
}


