@import '../grid/_global';

:root {
    --primary : #{$primary};
    --secondary: #{$secondary};
    --ternary: #{$ternary};
    --baseColor : #{$base};
    --white : #{$white};
    --black : #{$black};
    --red : #{$error};
    --orange : #{$info};
    --green : #{$ok};
}

// color definition goes here
.bg-f { background-color: $white;}
.bg-0 { background-color:$black ;}
.bg-b { background-color:$base ;}
.bg-p { background-color:$primary; }
.bg-s { background-color:$secondary;}
.bg-t { background-color:$ternary;}
.bg-red { background-color:$error; }
.bg-grn { background-color:$ok; }
.bg-info {background-color:$info;}
.bg0 {background:transparent;}

.clr-p { color:$primary; }
.clr-s { color:$secondary;}
.clr-t { color:$ternary;}
.clr-b { color:$base;}
.clr-f { color:$white; }
.clr-0 { color:$black; }
.clr-red { color:$error; }
.clr-grn { color:$ok; }
.clr-info {color:$info;}

body { @extend .clr-t; @extend .bg-b; }

//gradient
.gradn-L {
 @include gradient(linear,30deg, $primary+" , "+lighten($secondary , 20%));
 
}

.gradn-R {
 @include gradient(radial,circle, darken($ok,8%) +" , "+ $ok);
 
}

//strip table

.strip-even > *:nth-child(even)  , .strip-odd > *:nth-child(odd){@extend .bg-b;}

