 // Display properties definition goes here
			
.dB {display:block;}
.dIB{ display:inline-block;}
.dI{ display:inline;}
.dFB{ display:flex-box;}
.-table{ display:table;} // <table>
.-tr{display: table-row;} // <tr>
.-thead , .hide-tbl-thead-s{display:table-header-group;} // <thead>
.-tfoot{display:table-header-group;} // <thead>
.-tbody{display:table-row-group;} // <tbody>
.-td{display: table-cell; vertical-align: middle;} // <td>
.-vTop {vertical-align: top;}
.vMid > ._lineIn { @extend .dIB; vertical-align: middle;}

.view {visibility: visible;}
.noView {visibility: hidden;}
.flowHide { overflow: hidden;}
