@import '../grid/_global';
@import '../mixins/_mixins';

    
//FONT 


:root { font-size: #{$size}px; 
    @media only screen and (max-width: $small) { 
        font-size: ($size - 4 ) + px; }
        @media only screen and (max-width: $large) { 
            font-size: ($size - 2 ) + px; }
 
}


$font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;


html body { height: $_100; width: $_100; font-family: $font-family; line-height: $font-height;
text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
font-smooth: always;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

    
// -Weight(fw) 
    .fw-3 { font-weight:300;}
    .fw-4 { font-weight:400;}
    .fw-5 { font-weight:500;}
    .fw-6 , b , .b { font-weight:600;}
    .fw-7 , .b2{ font-weight:700;}
			
// -Size(fs) 	

$i:32 ;
@while $i >= 10 {
    .fs-#{$i} { font-size:rem($i); } // font size class from fs-10 to fs-32
    $i: $i - 2 ;
}

// line height

.lh-1 { line-height: $font-height - 0.4; }
.lh-2 { line-height: $font-height + 2 - 0.4; } 

//  headings sizes

h1 {  @extend .fs-32; }

h2 {  @extend .fs-26; }

h3 {  @extend .fs-24; }

h4 {  @extend .fs-20; }

h5 {  @extend .fs-18; }

h6 {  @extend .fs-12; }

// text transformations

.uCase { text-transform: uppercase;}
.camCase { text-transform: capitalize;}
.lCase { text-transform: lowercase;}
