.pb-cbox input[type="radio"] + label:before {
    content: "";
    border: 1px solid #555;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
}

.pb-cbox input[type="radio"]:checked + label:after {
       content: "";
    background-color: #0059a7;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    left: 9px;
    top: 5px;
}

.pb-cbox.hK input[type="radio"]:checked + label:after { 
    left: 14px;  top: 13px;
@media screen and (max-width:45em){
    left: 11px;
    top: 10px;
}

@media screen and (min-width:45em) and (max-width:65em){
    left: 12px;
    top: 12px;
}

}


input[type=checkbox]{
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    background: url(https://static.paisabazaar.com/components/images/radio-check-icon.png) no-repeat;
    border: 0;
    -webkit-appearance: none;
    &:checked { background-position: 0 -26px;}
}
