@import '../grid/_global';
@import '../mixins/_mixins';

// addon individual reusable classes. 

.hand { cursor: pointer;} // pointer cursor


// border definitions 

.bdr:not(.bdr0) { border:1px solid $base; }
.bdr.error { border:1px solid $error; }
.bdr-B { @include bdr(0,0,1px,0,$base,solid);}

.bdr0 { border:0;}
.bR3 { border-radius:3px; }

// margin & padding definitions

body {
    
.m0 {margin:0;}
.m10 {margin:rem(10);}
.mTB10 {margin:0.625rem 0;}
.m0A {margin:0 auto;}

.p0 {padding:0;}
.pTB10 {padding:0.625rem 0;}
.pd10 {padding:0.625rem;}
.pd5{padding: 0.3125rem;}

}

// z indexing definitions

._z9 {z-index: 9;}
._z99 {z-index: 99;}
._z999 {z-index: 999;}


.-z1 {@include shadow (0, 2px, 0.2rem, rgba(0,0,0,0.25));  }
.-z2 {@include shadow (0, 0.2rem, 0.7rem, rgba(0,0,0,0.28));  }
.-z3 {@include shadow (0, 0.3rem, 0.8rem, rgba(0,0,0,0.38));  }


.-Yscroll-area { max-height: 3rem; overflow-y: auto;}

.mH10 { min-height: 0.625rem;}

.card { @extend .-z1;  @extend .bR3; }



