@import '../grid/_global';
@import '../mixins/_mixins';

// addon individual reusable classes. 

.hand { cursor: pointer;} // pointer cursor


// border definitions 
.border { border-style:solid; border-width:1px;}
.bdr:not(.bdr0):not(.error):not(.ok):not(.--t) { @extend .border; border-color:$base; }
.bdr.error { @extend .border; border-color:$error; }
.bdr.ok { @extend .border; border-color:$ok; }
.bdr.--t { @extend .border; border-color:$ternary; }
.bdr-B { @include bdr(0,0,1px,0,$base,solid);}

.bdr0{ border:0;}
.bR3 { border-radius:3px; }

// margin & padding definitions

body {
    
.m_0 {margin:0;}
.m_10 {margin:rem(10);}
.m_tb_10 {margin:0.625rem 0;}
.m_A {margin:0 auto;}

.p_0 {padding:0;}
.p_5 {padding:rem(5);}
.p_tb_10 {padding:0.625rem 0;}
.p_10 {padding:0.625rem;}
.p_16 {padding:1rem;}

}

// z indexing definitions

._z9 {z-index: 9;}
._z99 {z-index: 99;}
._z999 {z-index: 999;}


.-z1 {@include shadow (0, 2px, 0.2rem, rgba(0,0,0,0.25));  }
.-z2 {@include shadow (0, 0.2rem, 0.7rem, rgba(0,0,0,0.28));  }
.-z3 {@include shadow (0, 0.3rem, 0.8rem, rgba(0,0,0,0.38));  }

.easy {  -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}

.-Yscroll{ overflow-y: auto;}

.mH10 { min-height: 0.625rem;}

.card { @extend .-z1;  @extend .bR3; }

.txtChunk { white-space: nowrap; text-overflow: ellipsis; @extend .flowHide;}

//popUp
%--x ,.-x { top:-0.7rem; max-height: 5px;}
.popUP {
    opacity: 1;
    height:$_100;
    background-color: rgba(0,0,0,0.85);
    
    .popCon {
        @extend .easy;
        top:10vh;
        min-height: 4rem;
        .--x { @extend %--x; }
        
        .popUP-txt{
        max-height: 76vh;
        @extend .-Yscroll;
            }
    }
}


input[type="checkbox"].z-pop{
    &.ddwn:not(:checked) + .dropCon  ,
    &:not(:checked) + .popUP{
        @extend .hide;
    }
}



// menu

  ._toggler {max-height:300px; }
     input[type="checkbox"]._toggle {
         &:not(:checked) + ._toggler  {opacity: 0; max-height: 0; }
         &:checked + ._toggler +.-ham { border:0;
         &:before { top:rem(10); transform: rotate(45deg);}
      &:after { top:rem(10); transform: rotate(-45deg);}
    }
}
     
     .-ham  { border-bottom:2px solid #fff; width:2rem;
         &:before , &:after {
         content: "";
         position: absolute;
         width:100%;
         height:2px;
         background: #fff;
         left:0;
     }
     
         &:after { top:48%; @extend .easy;}
         &:before { top:0px; @extend .easy;}
    }
     
     
    
//tooltip

[data-tip] {@extend .p-R; cursor: default;
&:hover:before {
    content: attr(data-tip);
    @extend .p-A;
    @extend .card;
    @extend .clr-t;
    background-color: $base;
    bottom:rem(1.9*$size);
    @extend ._oR;
    @extend .fs-12;
    @extend .p_10;
    @extend .dI;
    }
    &:hover:after {
        content: "";
        @extend .p-A;
        border-width:rem(10);
        @extend .border;
        border-color: $base transparent transparent;
        bottom:rem(0.7*$size);
        right: 10px;
        filter: drop-shadow(0 3px 1px rgba(0,0,0,0.2));
    }
    
}
