// media breakpoint variables

$small: 33.75em; // 540px
$medium: 45em; // 720px
$large: 64em; // 1024px


//global variables

$_100 : 100%;


// color variables

$primary: #434343;
$secondary: #f3f5f7;
$base: #e1e1e1;
$white:#fff;
$black:#000;
$error:red;
$info:orange;
$ok:green;