// media breakpoint variables

$small: 33.75em; // 540px
$medium: 45em; // 720px
$large: 64em; // 1024px


//global variables

$_100 : 100%;


// color variables

$primary: #9c27b0;
$secondary: #f50057;
$ternary: #263238;
$base: #e1e1e1;
$white:#fff;
$black:#000;
$error:#f44336;
$info:#f57c00;
$ok:#00c853;