
//The Regal Grid

@import '_global';
    
*{ -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    // resets
    
    &:focus { outline:0;}
    margin:0;
    padding:0;        
}

$gutter: 2%; // gutter spacing around grid
$width: $_100 - $gutter; //98% the full size grid inside row

.container {
  width: $_100 - 3% ; //95%
  margin-left: auto;
  margin-right: auto;

  
  @media only screen  { 
      
     @media (min-width: $small) {width: $_100 - 5% ; } // 95% on tablet
    @media (min-width: $large) { width: $_100 - 15% ;  } //85% on large screens
  }
  
}

.row , .fullCon {  width: $_100;
    
    @media screen and (max-width:$small) {
        .container &-s{width: $_100;}
    }

} // the 100% size 

.row [class^="g-"]:not([class*="m_"]) { // margin set for grids
  margin: 0.625rem $gutter/2;

}

// Float classes
	
.f-N {float:none;}
.f-L {float:left;}
.f-R {float:right;} 

.row [class^="g-"]:not(.f-R):not(.f-N){ float: left;} // all grids are default float left inside row

.row , .clear { //clear and row settings 
        position: relative;
     &:after , &:before { content: ""; display: table;  clear: both;
    }
}


//default grid size for mobile
.g-1,
.g-2,
.g-3,
.g-4,
.g-5,
.g-6,
.g-7,
.g-8,
.g-9,
.g-10,
.g-11,
.g-12 {
  width: $width;
}

@for $i from 1 through 12 { // mobile specific grid append "-s"
  .g-#{$i}-s { width: ($width / (12/$i)) - ($gutter * (12 - $i) / 12); } // .g-1-s to .g-12-s
}

html {
   
    
    body .hide-s , .hide {display: none; }
    .hide-m , .hide-l{ display: block; }


@media only screen and (min-width: $medium) and (max-width: $large) { // tablet specific grid append "-m"
    
  @for $i from 1 through 12 {
     .g-#{$i}-m { width: ($width / (12/$i)) - ($gutter * (12 - $i) / 12); } // .g-1-m to .g-12-m
  }

 body { 
    
    .hide-s {display: block; }
    .hide-m { display: none; }
    }

  }
}

@media only screen and (min-width: $medium) { // default grid for large devices
  @for $i from 1 through 12 {
    .g-#{$i} { width: ($width / (12/$i)) - ($gutter * (12 - $i) / 12); } // .g-1 to .g-12
  }

  html { 
    
    .hide-s , .hide-m{display: block; }
     body .hide-l{ display: none; }
    }
}
