/*========= REGAL GRID=======*/

*:focus {outline:0;}
// grid

*{ -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
}

$width: 98%;
$gutter: 2%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-med2: 65em; // 1030px
$breakpoint-large: 60em; // 960px

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  
  @media only screen and (min-width: $breakpoint-small) { 
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-med2){ 
    width: 98%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 85%;
    
  }

  @media (min-width: 1200px) { 
    max-width: 75rem;
   }
}

.row , .fullCon , .clear{
  position: relative;
  width: 100%;
}

.row [class^="g-"]:not(.m0) {
  margin: 0.5rem $gutter/2;
  min-height: 0.125rem;
}

.row [class^="g-"]:not(.f-R){ float: left;}

.row::after , .clear:after , .clear:before{
  content: "";
  display: table;
  clear: both;
}


.g-1,
.g-2,
.g-3,
.g-4,
.g-5,
.g-6,
.g-7,
.g-8,
.g-9,
.g-10,
.g-11,
.g-12 {
  width: $width;
}

@for $i from 1 through 12 {
  .g-#{$i}-s { width: ($width / (12/$i)) - ($gutter * (12 - $i) / 12); }
}

html body .hide-s { display: none;  }
html body .hide-m { display: block; }

@media only screen and (min-width: $breakpoint-med) {
  @for $i from 1 through 12 {
    .g-#{$i} { width: ($width / (12/$i)) - ($gutter * (12 - $i) / 12); }
  }

  html body .hide-s { display: block; }
  html body .hide-m { display: none; }
}
